* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  
}

h2 {
  margin: 0;
}

.container {
  display: flex;
  max-width: 30rem;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  align-items: center;
 
}





/*/STREAMING//*/

/*Wave*/
.wave {
  width: 30px;
  height: 30px;
  /*border: 1px solid #fff;*/
  
  display: flex;
 
  

}

.wave .wave1 {
  width: 3px;
  height: 10px;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  background: #e31b26;
  animation: unset;
  align-self: flex-end;
}

.wave .wave1:nth-child(2) {
  height: 13px;
  /*animation-delay: .4s;*/
}

.wave .wave1:nth-child(3) {
  height: 8px;
  /*animation-delay: .8s;*/
}

.streaming {
  width: 100%;
}

.playlist {
  
}

.playlist-heading {
  display: flex;
  align-items: center;
  gap: 3em;
}
.album-img {
  width: 2.5rem;
  height: 2.5rem;
}

.playlist .song-list {
  justify-content: space-between;
  justify-content: space-between;
  list-style-type: none;
}

.playlist .song-list li {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr auto;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.playlist .song-list li:first-child {
  border-top: 1px solid #ddd;
}


.playlist ul li.active {
  font-weight: bold;
}

