* {
  margin: 0;
  padding: 0;
}

body {
 
  
}

h2 {
  margin: 0;
}

.container {
  
  max-width: 30rem;
  margin: 0 auto;
  height: 100%;
  
 
}





/*/STREAMING//*/

.section-heading {
  display: flex;
  gap: 2em;
  position: relative;
  padding: 1.5rem 0;
}

.section-heading::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 18px;
  background-color: #e31b26;
  left: 0;
  top: 0px;
}

/*Wave*/
.wave {
  width: 30px;
  height: 30px;
  /*border: 1px solid #fff;*/
  
  display: flex;
 
  

}

.wave .wave1 {
  width: 3px;
  height: 10px;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  background: #e31b26;
  animation: unset;
  align-self: flex-end;
}

.wave .wave1:nth-child(2) {
  height: 13px;
  /*animation-delay: .4s;*/
}

.wave .wave1:nth-child(3) {
  height: 8px;
  /*animation-delay: .8s;*/
}

.streaming {
  width: 100%;
}

.playlist {
  
}

.playlist-heading {
  display: flex;
  align-items: center;
  gap: 3em;
}
.album-img {
  width: 2.5rem;
  height: 2.5rem;
}

.playlist .song-list {
  justify-content: space-between;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 36em) and (max-width: 61em) {
  .playlist .song-list {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}

.playlist .song-list li {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr auto;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.playlist .song-list li:first-child {
  border-top: 1px solid #ddd;
}


.playlist ul li.active {
  font-weight: bold;
}

/*music player*/

 .player {
  background-color: #2b2b2b;
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-template-rows: 1fr;
  padding: 1.5rem 2.25rem;
}

.track-playing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5em;
}

.record {
  width: 3rem;
  border-radius: 50%;
  margin-left: .3em
}

.record-animation {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
 
}
.slidecontainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slidecontainer i {
  color: #fff;
  font-size: 1.2rem;
}

.slider {
  -webkit-appearance: none;
  cursor: pointer;
  height: 8px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2;
  border-radius: 20px;
  margin: 0 1rem;
  width: 100%;
}

.slider:hover {
  opacity: 1;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.controls > button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  
}

.controls > button > i {
  font-size: 1.1rem;
  color: #f1f1f1;
}

.play-pause > i {
  font-size: 1.5rem !important;
}


/*Albums*/

.streaming .albums-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 1em;
}

.vinyl {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1em;
  justify-items: center;
}

.singles {
  display: none;
}

@media (min-width: 36em) {
  .vinyl {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 62em) {
  .singles {
    display: block;
  }
}
